/* animations */
@keyframes drawer {
  0% {
    width: 0;
  }

  100% {
    width: 75vw;
  }
}


@media (min-width: 1000px){
  .App {
    width: 100vw;
    height: 100vh;
    text-align: center;
    box-sizing: border-box;
  
  }
  .header {
    background-image: url('../src/assets/desktop/image-header.jpg');
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
  
  }
  
  .header-items {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    position: fixed;
    background-color: #3cbdfe;
  }
  
  .logo {
    margin-left: 1rem;
  }
  
  .menu {
    visibility: hidden;
  }
  
  .navbar-items {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .active {
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    background-color: rgb(255, 255, 255);
    width: 100px;
    height: 40px;
    font-weight: 600;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
  
  .links {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
  }
  
  .links:hover {
    color: white;
    font-size: 1.1rem;
    background-color: rgb(158, 217, 245);
    width: 100px;
    height: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
  .content-text {
    color: white;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    letter-spacing: 3px;
    margin-top: 25vh;
    margin-bottom: 6rem;
  }
  
  .transform {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    width: 100vw;
  }
  
  .egg, .stand-out-img {
    width: 50vw;
    height: 80vh;
  }
  
  .desc {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .heading, .heading-stand-out {
    font-size: 3rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
    color: rgb(59, 57, 57);
    margin-bottom: 1rem;
    max-width: 70%;
    text-align: left;
    margin-left: 7rem;
  }
  
  .text {
    color: rgb(124, 114, 114);
    max-width: 60%;
    text-align: justify;
    font-weight: 600;
    margin-left: 7rem;
    margin-bottom: 2rem;
  }
  
  .link {
    color: rgb(59, 57, 57);
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 7rem;
    font-size: 1.3rem;
  }
  
  .stand-out {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  
  .desc-stand-out {
    width: 50vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .row {
    width: 100vw;
    height: 85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
  }
  
  .design {
    width: 50%;
    height: 100%;
    background-image: url('../src/assets/desktop/image-graphic-design.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .heading-design {
    color: rgb(34, 133, 124);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
  }
  
  .text-design {
    width: 55%;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(63, 87, 80);
    font-size: 1rem;
    font-weight: 500;
  }
  
  .orange {
    width: 50%;
    height: 100%;
    background-image: url('../src/assets/desktop/image-photography.jpg');
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }
  
  .heading-orange {
    color: rgb(34, 133, 133);
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bolder;
  }
  
  .text-orange {
    width: 55%;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 3rem;
    color: rgb(63, 87, 81);
    font-size: 1rem;
    font-weight: 500;
  }
  
  .clients {
    font-size: 1.1rem;
    color: rgb(139, 139, 139);
    font-weight: bold;
    letter-spacing: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .clients-list {
    margin-top: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    margin-bottom: 10vh;
  }
  
  .client {
    width: 25vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .client>img {
    border-radius: 100px;
    height: 6vw;
    width: 6vw;
    margin-bottom: 2rem;
  }
  
  .details {
    color: rgb(88, 88, 88);
    max-width: 80%;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    margin-bottom: 3rem
  }
  
  .name {
    color: rgb(26, 26, 26);
    font-weight: bolder;
    font-size: 1.1rem;
  }
  
  .position {
    color: rgb(172, 172, 172);
  }
  
  .grid {
    width: 100vw;
    height: 60vh;
    display: flex;
    flex-direction: row;
  }
  
  .gallery-items {
    width: 25%;
    height: 100%;
    object-fit: fill;
  }
  
  .footer {
    width: 100vw;
    height: 50vh;
    background-color: rgb(190, 236, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-logo {
    width: 30vh;
    height: 15vh;
    background-color: rgb(53, 116, 116);
    mask-image: url('../src/assets/logo.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    margin-top: 5vh;
  }
  .items-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 30%;
    margin-bottom: 5rem;
  }
  .footer-items {
    color: rgb(53, 116, 116);
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
  }
  .footer-items:hover {
    color: white;
  
  }
  .socialMedia-row {
    width: 20%;
    height: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .icons-fb {
    background-color: rgb(53, 116, 116);
    mask-image: url('../src/assets/icon-facebook.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center; 
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .icons-insta {
    background-color: rgb(53, 116, 116);
    mask-image: url('../src/assets/icon-instagram.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center; 
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  
  }
  .icons-twitter {
    background-color: rgb(53, 116, 116);
    mask-image: url('../src/assets/icon-twitter.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    height: 2rem;
    width: 2rem; 
    cursor: pointer;
  
  }
  .icons-pin {
    background-color: rgb(53, 116, 116);
    mask-image: url('../src/assets/icon-pinterest.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center; 
    height: 2rem;
    width: 2rem;
    cursor: pointer;
  }
  .icons-fb:hover {
    background: white;
  }
  .icons-insta:hover {
    background: white;
  }
  .icons-pin:hover {
    background: white;
  }
  .icons-twitter:hover {
    background: white;
  }
  
}

@media only screen and (max-width: 600px) {
  .App {
    width: 100%;
    height: 100vh;
    text-align: center;
  }

  .drawer {
    width: 75vw;
    height: 100vh;
    background-color: rgba(199, 199, 199, 0.247);
    position: fixed;
    top: 0;
    right: 0;
    backdrop-filter: blur(10px);
    animation: drawer 500ms linear normal;
    transition: 0.4s ease-in-out;
    z-index: 1000;
  }

  .drawer-close-btn {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
  }

  .options {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .contact {
    color: #000;
    font-size: 2rem;
    text-decoration: none;
  }

  .drawer-close-btn>img {
    margin-right: 3rem;
    width: 10%;
  }

  .header {
    background-image: url('../src/assets/mobile/image-header.jpg');
    width: 100vw;
    height: 55vh;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

  }

  .header-items {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    padding-top: 1rem;
  }

  .navbar-items {
    visibility: hidden;
  }

  .logo {
    width: 40vw;
    height: 5vh;
    position: absolute;
    left: 1rem;
  }

  .menu {
    width: 10vw;
    height: 10vw;
    visibility: visible;
    position: absolute;
    right: 3rem;
  }

  .content {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -1rem;
  }

  .content-text {
    color: white;
    font-weight: bolder;
    font-size: 3rem;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  .arrow {
    width: 8vw;
    height: 20%;
    margin-top: -2rem;
  }

  .transform {
    width: 100vw;
    height: 50vh;
    margin-bottom: 1px;
  }

  .egg {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .desc {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: azure;
  }

  .heading {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(32, 32, 32);
    font-family: Impact, Haettenschweiler, sans-serif;
    max-width: 70%;
    letter-spacing: 1px;
    margin-top: 1rem;
  }

  .text {
    color: gray;
    text-align: center;
    max-width: 80%;
  }

  .link {
    font-size: 1rem;
    font-weight: bolder;
    color: rgb(32, 32, 32);
    font-family: Impact, Haettenschweiler, sans-serif;
    margin-bottom: 1.5rem;
  }

  .stand-out {
    width: 100vw;
    height: 50vh;
    margin-top: 8rem;
  }

  .desc-stand-out {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: azure;
  }

  .stand-out-img {
    width: 100%;
    height: 60%;
    object-fit: cover;
  }

  .heading-stand-out {
    font-size: 2rem;
    font-weight: bolder;
    color: rgb(32, 32, 32);
    font-family: Impact, Haettenschweiler, sans-serif;
    max-width: 70%;
    letter-spacing: 1px;
    margin-top: 1rem;
  }

  .design {
    background-image: url('../src/assets/mobile/image-graphic-design.jpg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .heading-design, .heading-orange {
    font-size: 1.7rem;
    font-weight: bolder;
    color: rgb(63, 63, 63);
    font-family: Impact, Haettenschweiler, sans-serif;
    max-width: 70%;
    letter-spacing: 1px;
    max-width: 50%;
    margin-top: 1rem;
  }

  .text-design, .text-orange {
    color: rgb(102, 102, 102);
    text-align: center;
    max-width: 80%;
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .orange {
    background-image: url('../src/assets/mobile/image-photography.jpg');
    width: 100%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
  }

  .clients {
    font-weight: bold;
    color: gray;
    font-size: 1rem;
  }

  .client {
    width: 100vw;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 1.5rem;
  }

  .client>img {
    width: 30vw;
    height: 30vw;
    border-radius: 100px;
    margin-bottom: 2rem;
  }

  .details {
    max-width: 80%;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(63, 63, 63);
    font-weight: 500;
    margin-bottom: 1.5rem;
  }

  .name {
    font-size: 1.4rem;
    font-weight: bolder;
    color: rgb(58, 58, 58);
    font-family: Impact, Haettenschweiler, sans-serif;
    letter-spacing: 1px;
    margin-bottom: 1rem;
  }

  .position {
    color: gray;
    font-weight: 600;
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }

  .grid {
    width: 100vw;
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: gray;
  }

  .gallery-items {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .footer {
    background-color: rgb(190, 236, 236);
    height: 40vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
  }

  .footer-logo {
    width: 50%;
    height: 10vh;
    background-color: rgb(53, 116, 116);
    mask-image: url('../src/assets/logo.svg');
    mask-repeat: no-repeat;
    mask-size: 100%;
    mask-position: center;
    margin-bottom: 1rem;
  }

  .items-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 3vh;
  }

  .footer-items {
    color: rgb(53, 116, 116);
    font-size: 1.1rem;
    font-weight: 700;
  }

  .socialMedia-row {
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
    height: 5vh;
  }

  .socialMedia-row>img {
    width: 30px;
    height: 30px;
  }
}